files:
  "/etc/httpd/conf.d/mod_security.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      # The amount of connections per second.
      Define cons_per_sec 1
      # The amount of connections that a single remote ip can burst to.
      Define cons_burst 10
      Define src_header X-Forwarded-For

      <IfModule mod_security2.c>

      SecRuleEngine On
      SecStatusEngine Off

      <LocationMatch "^/">
          SecAction initcol:ip=%{REQUEST_HEADERS:${src_header},pass,nolog,id:11
          SecAction "phase:5,deprecatevar:ip.awscounter=${cons_per_sec}/1,pass,nolog,id:12"
          SecRule IP:AWSCOUNTER "@gt ${cons_burst}" "phase:2,deny,status:429,setenv:RATELIMITED,skip:1,log,id:13"
          SecAction "phase:2,pass,setvar:ip.awscounter=+1,nolog,id:14"
      </LocationMatch>

      SecDebugLogLevel 0
      SecDataDir /tmp

      ErrorDocument 429 "Connection Limit Exceeded"

      </IfModule>
