###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    AUTH_KEY: 'test'
    SECURE_AUTH_KEY: 'test'
    LOGGED_IN_KEY: 'test'
    LOGGED_IN_SALT: 'test'
    NONCE_KEY: 'test'
    AUTH_SALT: 'test'
    SECURE_AUTH_SALT: 'test'
    NONCE_SALT: 'test'
    HTTP_HOST: 'http://example.com'

commands:
  01_install_wp_cli:
    command: 'curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -o /usr/local/bin/wp'
  02_make_wp_cli_executable:
    command: 'chmod +x /usr/local/bin/wp'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_set_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo '<?php
      define( 'WP_LOCAL_DEV', false );
      define('DB_NAME', "'$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_DB_NAME)'" );
      define('DB_USER', "'$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USERNAME)'" );
      define('DB_PASSWORD', "'$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_PASSWORD)'" );
      define('DB_HOST', "'$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_HOSTNAME)'" );
      define('WP_HOME', "'$(/opt/elasticbeanstalk/bin/get-config environment -k HTTP_HOST)'" );
      define('AUTH_KEY', "'$(/opt/elasticbeanstalk/bin/get-config environment -k AUTH_KEY)'"  );
      define('SECURE_AUTH_KEY', "'$(/opt/elasticbeanstalk/bin/get-config environment -k SECURE_AUTH_KEY)'" );
      define('LOGGED_IN_KEY', "'$(/opt/elasticbeanstalk/bin/get-config environment -k LOGGED_IN_KEY)'" );
      define('NONCE_KEY', "'$(/opt/elasticbeanstalk/bin/get-config environment -k NONCE_KEY)'" );
      define('AUTH_SALT', "'$(/opt/elasticbeanstalk/bin/get-config environment -k AUTH_SALT)'" );
      define('SECURE_AUTH_SALT', "'$(/opt/elasticbeanstalk/bin/get-config environment -k SECURE_AUTH_SALT)'" );
      define('LOGGED_IN_SALT', "'$(/opt/elasticbeanstalk/bin/get-config environment -k LOGGED_IN_SALT)'" );
      define('NONCE_SALT', "'$(/opt/elasticbeanstalk/bin/get-config environment -k NONCE_SALT)'" );' > /var/app/current/eb-setup.php

      chown webapp:webapp /var/app/current/eb-setup.php
      chmod 644 /var/app/current/eb-setup.php

      HTTP_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k HTTP_HOST)

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_wp_install.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/bash

      WP_CLI_CACHE_DIR=/var/app/current/.wp-cli/cache/

      (cd /var/app/current && sudo -u webapp /usr/local/bin/wp core download)

      # Only install if WP is not installed
      if [ ! -f /var/app/current/eb-setup.php ]; then
        sudo -u webapp /usr/local/bin/wp core is-installed
        RESULT=$?
        if [ "$RESULT" -eq 0 ]; then
          printf "WordPress Already Installed.\n"
        else
          SAVEDIR=$PWD
          cd /var/app/current
          sudo -u webapp /usr/local/bin/wp core install --url=$HTTP_HOST --title="SITENAME" --admin_user=wp_admin --admin_password=test --admin_email=email@example.com
          printf "Install WordPress...\n"
          cd $SAVEDIR
        fi
      fi

      if [ ! -d /var/app/current/wp-admin ]; then
        sudo -u webapp ln -s wp/wp-admin .
        printf "Added wp symbolic link.\n"
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_clean_up.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Delete the eb-setup.php file
      if [ ! -f /var/app/current/eb-setup.php ]; then
          rm -f /var/app/current/eb-setup.php
          printf "eb-setup.php removed...\n"
      fi
